<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
    <p class="col-md-8 fs-4">This Quiz will contain total 9 Questions. Each Question carry 10 Points.</p>
    <h4>Rules:</h4>
    <ol>
        <li>Correcet Ans adds 10 Points</li>
        <li>Incorrecet Ans deducts 10 Points.</li>
        <li>You will have 30 secs to answer each question.</li>
        <li>Refreshing the page will reset the Quiz.</li>
    </ol>
    <h1 class="font-family: cursive; text-align:center">All The Best!!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name:</label>
        <input #name type="text" class="form-control">

    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start The Quiz</button>

</div>
